@layer components {
  /* Start Custom Styles */

  .main-content {
    @apply px-6 sm:px-7;
  }

  .content {
    @apply mt-[71px] transition-all ltr:ml-0 lg:ltr:ml-64 rtl:mr-0 lg:rtl:mr-64;
  }

  .page-header {
    @apply py-5;
  }

  pre {
    @apply border border-gray-200 bg-slate-200 p-5 text-[0.75rem];
  }

  html {
    @apply font-inter;
  }

  body {
    @apply relative m-0 h-full bg-bodybg font-inter text-sm font-normal text-gray-600 dark:text-white;
  }

  .page {
    @apply flex h-full min-h-screen flex-col;
  }

  ::-webkit-scrollbar {
    @apply h-[5px] w-[2px] bg-black/10 dark:bg-black/20;
  }

  ::-webkit-scrollbar-thumb {
    @apply h-[2px] w-[2px] bg-black/10 dark:bg-black/20;
  }

  code {
    @apply text-sm text-danger;
  }

  .icons-list {
    @apply -mb-[1px] ml-0 mt-0 flex list-none flex-wrap p-0 ltr:-mr-[1px] rtl:-ml-[1px];
  }

  .icons-list .icons-list-item {
    @apply relative flex flex-col items-center justify-center rounded-md border border-gray-200 p-2 text-center no-underline dark:border-white/10;

    &:hover {
      i {
        @apply scale-150;
      }
    }
  }

  .icons-list .icons-list-item i {
    @apply text-2xl text-primary;
  }

  .icon-label {
    @apply mt-4 text-xs text-gray-500 dark:text-white/70;
  }

  .simplebar-scrollbar:before {
    @apply bg-gray-200 #{!important};
  }

  .simplebar-track.simplebar-vertical {
    @apply w-2 #{!important};
  }

  [dir='ltr'] {
    &[toggled='icon-overlay-close'] {
      .content {
        @apply lg:ml-24;
      }
    }
  }

  [dir='rtl'] {
    &[toggled='icon-overlay-close'] {
      .content {
        @apply lg:mr-24;
      }
    }
  }

  /* Start:: Back to Top */
  .scrollToTop {
    @apply fixed bottom-8 z-[10000] hidden h-10 w-10 items-center justify-center rounded-md bg-primary bg-center bg-no-repeat text-center text-white shadow-md transition duration-[0.1s] ease-linear ltr:right-8 rtl:left-8;
  }
  /* Start:: Back to Top */
  select option:active,
  select option:hover,
  select option:focus {
    background-color: green !important;
  }

  /* End Custom Styles */
  select {
    @apply ltr:pl-2  ltr:pr-9 rtl:bg-[left_0.5rem_center] rtl:pl-9 rtl:pr-2;
  }
  #drag-right,
  #drag-center,
  #drag-left {
    .box {
      @apply touch-none;
    }
  }
  #responsive-overlay {
    @apply invisible fixed inset-0 z-[49] bg-gray-900 bg-opacity-0 transition-all duration-100;
    &.active {
      @apply visible bg-opacity-50 dark:bg-opacity-80;
    }
  }
}

@layer utilities {
  .aspect-w-16 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 16;
  }

  .aspect-w-16 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .aspect-h-9 {
    --tw-aspect-h: 9;
  }

  .aspect-w-1 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 1;
  }

  .aspect-w-1 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .aspect-h-1 {
    --tw-aspect-h: 1;
  }
}
