@layer components {
  /* Start Form Styles */
  .ti-form-input {
    @apply block w-full rounded-sm border border-gray-200 px-4 py-3 text-sm focus:border-gray-200 focus:shadow-sm focus:ring-transparent dark:border-white/10 dark:bg-bgdark dark:text-white/70 dark:shadow-white/10 dark:placeholder:text-white/50 dark:focus:border-white/10;
  }

  .ti-form-checkbox {
    @apply shrink-0 rounded-sm border-gray-200 text-primary focus:ring-primary dark:border-white/10 dark:bg-bgdark dark:checked:border-primary dark:checked:bg-primary dark:focus:ring-offset-white/10;
  }

  .ti-form-radio {
    @apply mt-0.5 shrink-0 rounded-full border-gray-300 text-primary focus:ring-primary dark:border-white/10 dark:bg-bgdark dark:checked:border-primary dark:checked:bg-primary dark:focus:ring-offset-white/10;
  }

  .ti-switch {
    @apply relative h-7 w-[3.25rem] cursor-pointer appearance-none rounded-full border-2 border-transparent bg-gray-200 ring-0 ring-transparent ring-offset-white transition-colors duration-200 ease-in-out before:inline-block before:h-6 before:w-6 before:translate-x-0 before:transform before:rounded-full before:bg-white before:shadow before:ring-0 before:transition before:duration-200 before:ease-in-out checked:bg-primary checked:bg-none checked:before:bg-white focus:border-primary focus:outline-0 focus:ring-transparent ltr:checked:before:translate-x-full rtl:checked:before:-translate-x-full dark:bg-black/20 dark:before:bg-black/20 dark:checked:bg-primary dark:checked:before:bg-black/20 dark:focus:ring-offset-white/10;
  }

  .ti-form-select {
    @apply block w-full rounded-sm border-gray-200 px-4 py-3 text-sm focus:border-primary focus:ring-primary ltr:pr-9 rtl:pl-9 dark:border-white/10 dark:bg-bgdark dark:text-white/70;
  }

  .ti-form-select-label {
    @apply mb-2 block text-sm font-medium dark:text-white;
  }

  .ti-form-label {
    @apply mb-2 block text-sm font-medium dark:text-white;
  }

  [type='checkbox']:checked:hover,
  [type='checkbox']:checked:focus,
  [type='radio']:checked:hover,
  [type='radio']:checked:focus {
    @apply bg-primary;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    @apply shadow-none outline-none ring-0 ring-offset-0;
  }

  /* End Form Styles */

  /* Start Dropzone Styles */
  .dropzone {
    @apply rounded-sm border border-gray-200 dark:border-white/10 #{!important};
  }

  .dropzone .dz-preview {
    @apply m-0 #{!important};
  }

  .dropzone .dz-message .dz-button {
    @apply text-xl #{!important};
  }
  .dropzone .dz-preview .dz-success-mark,
  .dropzone .dz-preview .dz-error-mark {
    @apply z-10 #{!important};
  }

  /* End Dropzone Styles */

  /* Start Filepond Styles */
  .filepond--credits {
    @apply hidden;
  }

  .filepond--drop-label.filepond--drop-label label {
    @apply dark:text-white;
  }

  .filepond--panel-root {
    @apply rounded-sm border border-dashed border-gray-200 bg-transparent dark:border-white/10 #{!important};
  }
  .filepond.circular-filepond {
    .filepond--panel-root {
      @apply rounded-full #{!important};
    }
  }

  .circular-filepond.filepond--root[data-style-panel-layout~='circle']
    .filepond--file
    [data-align*='left'] {
    @apply left-[40%];
  }

  .circular-filepond.filepond--root[data-style-panel-layout~='circle'] {
    @apply mx-auto my-0 h-32 w-32 #{!important};
  }

  .filepond--root {
    @apply mb-0 #{!important};
  }

  /* End Filepond Styles */

  /*Color Picker*/
  .pickr .pcr-button {
    @apply overflow-hidden rounded-sm #{!important};
  }
  .pcr-app {
    @apply z-[9999999999] rounded-sm #{!important};
  }
  /*Color Picker*/
}

.team-members {
  .ti-form-select {
    @apply border-0 p-0  #{!important};
  }
}

.inline-leading-select {
  .css-13cymwt-control {
    @apply border-0 #{!important};
  }
}
.yarl__slide {
  @apply bg-black/50 px-0 #{!important};
}
.yarl__flex_center {
  @apply bg-black #{!important};
  .yarl__slide_captions_container.yarl__slide_title_container {
    @apply hidden #{!important};
  }
}

::file-selector-button {
  @apply bg-gray-100 text-black/50 #{!important};
}
div:where(.swal2-container) .swal2-html-container {
  @apply mb-3 #{!important};
}

// input[type="file" i]::-webkit-file-upload-button {
//   @apply border border-defaultborder py-[6px] #{!important};
// }
.basic-dropdown-svg {
  .react-dropdown-select {
    @apply p-3;
    .css-1yc4zyy-DropdownHandleComponent {
      @apply m-0;
    }
    .react-dropdown-select-dropdown-handle svg {
      @apply m-0 #{!important};
    }
  }
}
